[submodule "RandomTrackPlugin"]
	path = RandomTrackPlugin
	url = https://github.com/nvrlift/RandomTrackPlugin
[submodule "VotingTrackPlugin"]
	path = VotingTrackPlugin
	url = https://github.com/nvrlift/VotingTrackPlugin
[submodule "nvrlift.AssettoServer.HostExtension"]
	path = nvrlift.AssettoServer.HostExtension
	url = https://github.com/nvrlift/nvrlift.AssettoServer.HostExtension
[submodule "nvrlift.AssettoServer"]
	path = nvrlift.AssettoServer
	url = https://github.com/nvrlift/nvrlift.AssettoServer
[submodule "SoftAutoModerationPlugin"]
	path = SoftAutoModerationPlugin
	url = https://github.com/nvrlift/SoftAutoModerationPlugin.git
