[submodule "nvrlift.AssettoServer.HostExtension"]
	path = nvrlift.AssettoServer.HostExtension
	url = https://github.com/nvrlift/nvrlift.AssettoServer.HostExtension
[submodule "nvrlift.AssettoServer"]
	path = nvrlift.AssettoServer
	url = https://github.com/nvrlift/nvrlift.AssettoServer
[submodule "SoftAutoModerationPlugin"]
	path = SoftAutoModerationPlugin
	url = https://github.com/nvrlift/SoftAutoModerationPlugin.git
[submodule "CycleTrackPlugin"]
	path = CycleTrackPlugin
	url = https://github.com/nvrlift/CycleTrackPlugin
