[submodule "nvrlift.AssettoServer.HostExtension"]
	path = nvrlift.AssettoServer.HostExtension
	url = https://github.com/nvrlift/nvrlift.AssettoServer.HostExtension
[submodule "SoftAutoModerationPlugin"]
	path = SoftAutoModerationPlugin
	url = https://github.com/nvrlift/SoftAutoModerationPlugin.git
[submodule "CyclePresetPlugin"]
	path = CyclePresetPlugin
	url = https://github.com/nvrlift/CyclePresetPlugin
